@import "nes-ui-react";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* UniFont Config */

/* html.nes-ui * {
  font-size: x-large;
} */

html.nes-ui * {
  font-family: 'Fusion', 'Unifont', serif !important;
  transition-property: color, background-color;
  transition-duration: 200ms;
}

html {
  font-size: 20px;
}

/* Fix Badge */

.nes-ui-badge span.nes-ui-is-warning:first-child,
.nes-ui-badge span.nes-ui-is-primary:first-child,
.nes-ui-badge span.nes-ui-is-error:first-child,
.nes-ui-badge span.nes-ui-is-success:first-child {
  left: 0;
}

@layer base {
  @font-face
  {
    font-family: 'Unifont';
    src: url('/fonts/unifont.otf');
  }
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Unifont" !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
